# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store

# Logs
*.log

# Secrets
secrets.json
credentials.json

# PowerPoint files
*.pptx

# NotebookLM exports
#*.pdf

# Large generated artifacts
*.mp4
*.zip